<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadPartial" />
</head>
<body class="  ">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader End -->
    <div class="wrapper">
        <main role="main" class="pb-3">
           
        </main>
    </div>

   
    <partial name ="_ScriptPartial"/>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
